.product-detail{
    width: 360px;
   height: calc(100vh - 68px); 
   top: 68px;
}

.icon-cancel:hover{
    filter: brightness(0) saturate(100%) invert(13%) sepia(94%) saturate(6969%) hue-rotate(3deg) brightness(103%) contrast(114%);
   
}